<div id='container'>
  <!-- Your html here -->
    <img src='assets/redirect_icon.png'/>
    <div class = 'info' ng-controller='LinksController'>
      <div class='visits'><span class='count' ng-model='data.links[0].visits'>{{data.links[0].visits}}</span>Visits</div>
      <div class='title' ng-model='data.links[0].title'>{{data.links[0].title}}</div>
      <div class='original' ng-model='data.links[0].url'>{{data.links[0].url}}</div>
      <div class='newURL' ng-model='data.links[0]' ng-click='navtoLink(data.links[0])'>{{data.links[0].base_url}}/{{data.links[0].code}}</div>
    </div>
</div>

